AccTest2/.settings/org.eclipse.cdt.codan.core.prefs
AccTest2/.settings/org.eclipse.cdt.managedbuilder.core.prefs
AccTest2/.settings/org.eclipse.core.resources.prefs
Glove1_fw/.settings/org.eclipse.cdt.codan.core.prefs
Glove1_fw/.settings/org.eclipse.ltk.core.refactoring.prefs
Glove1_fw_f100/.settings/org.eclipse.cdt.codan.core.prefs
Glove1_hw/Glove1.zip
